table {
  border-collapse: collapse;
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 10px;
  overflow: hidden;
}

td {
  border: 0;
  padding: 8px;
  text-align: left;
  transition-duration: 200ms;
  font-size: 16px;
}

tr:nth-child(odd) {
  background-color: #f2f2f2;
}

tr:nth-child(even) {
  background-color: white;
}

tr:hover {
  background-color: #006c4f22;
}

tr th {
  border: 0;
  background-color: white;
  font-weight: bold;
  text-transform: capitalize;
  font-size: 18px;
}

table tr:first-child td:first-child {
  border-top-left-radius: 10px;
}

table tr:first-child td:last-child {
  border-top-right-radius: 10px;
}

table tr:last-child td:first-child {
  border-bottom-left-radius: 10px;
}

table tr:last-child td:last-child {
  border-bottom-right-radius: 10px;
}
